@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
body {
  box-sizing: border-box;
  background-color: rgb(46, 46, 57);
  font-family: 'Ubuntu', sans-serif;
  padding-top: 30px;
}
